name: Publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    name: Publish job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install depedencies
        run: npm install

      - name: Generate TS types
        run: npm run generate

      - name: Publish package
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
